.verticalFB {
	flex-wrap: wrap;
}

.rover {
	padding: 5px;
	
}

.boxLight {
	background-color: var(grey-color);
	border-style: solid;
	border-color: var(grey-color);
}

.boxDark {
	background-color: var(accent-color);
	border-style: solid;
	border-color: var(accent-color);
}